extends ../layout

block content
  link(rel='stylesheet', href='css/admin.css')
  
  .container
    include ./edit
    .blurred
  
    .upload
      h3 UPLOAD
      
      form(id='uploadForm', action='/admin/upload', method='POST')
        .upload-cell
          label TITLE
          input.title(type='text', name='title', id='title', value='')
          
        .upload-cell
          label URL
          input.url(type='text', name='url', id='url', value='')
          a.url-load LOADING
        
        .after-url-load
          .upload-cell.upload-thumbnail-list-cell
            ul.thumbnail-list
              li
                img.upload-thumb#0
                .thumb-selected
                  .selected-bg
                  .selected-border
              li
                img.upload-thumb#1
                .thumb-selected
                  .selected-bg
                  .selected-border
              li
                img.upload-thumb#2
                .thumb-selected
                  .selected-bg
                  .selected-border
              li
                img.upload-thumb#3
                .thumb-selected
                  .selected-bg
                  .selected-border
            
            input(type='hidden', name='vid', id='vid', value='')
            input(type='hidden', name='thumbnail', id='thumbnail', value='')
          
          .upload-cell
            p.upload-message 대표 프레임을 선택하시고 UPLOAD 버튼을 누르시면 영상이 업로드됩니다.
            a.upload UPLOAD
        
    .list
      h3 LIST
      
      ul.thumbnail-list
        - videoData.forEach(function(video) {
          li
            img(src='#{video.thumbnail}')
            .editable(vid='#{video.vid}', title='#{video.title}', url='#{video.url}', thumbnail='#{video.thumbnail}')
              .editable-bg
              .editable-buttons
                a.edit EDIT
                a.delete DELETE
        - })
      