extends ../layout

block content
  .container
    section
      article
        ul
          - videoData.forEach(function(video, index) {
            li.video-info(title='#{video.title}', url='#{video.url}', vid='#{video.vid}')
              img(class="bu_blind" src="images/bu/bu_blind.png" alt='' data-nth='#{index+1}')
              //- img(class="content" src='#{video.thumbnail}')
              .content(style='background: url(#{video.thumbnail}) no-repeat center; background-size:100% 250px;')
          - });

    .blurred
    .popup
      .frame
        a(ontouchstart='')
          img(class='before' src='images/btn/btn_left.png' alt='이전 동영상으로 이동')
          img(class='before2' src='images/btn/btn_left2.png' alt='이전 동영상으로 이동')
        a(ontouchstart='')
          img(class='after' src='images/btn/btn_right.png' alt='다음 동영상으로 이동')
          img(class='after2' src='images/btn/btn_right2.png' alt='다음 동영상으로 이동')
        p
          span(class='youtubeplayer_nth') 1
          span /
          span(class='youtubeplayer_total') 24
        .top
          h2(class='title')
          img(class='close' src='images/btn/btn_x.png' alt='닫기 버튼')
          img(class='close2' src='images/btn/btn_x2.png' alt='닫기 버튼')
        iframe(class='youtube_player', src='')

